!!!5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title= Education
    = csrf_meta_tags
    = stylesheet_link_tag 'application'

  %body
    %thead
      = render_cell :layout, :login

    %tbody
      .short_message
        = render 'layouts/short_message'

      .content
        = yield
      
    %tfoot
      = render_cell :layout, :tfoot

    = javascript_include_tag 'application'
    = yield :javascript